@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary: #B77466;
  --secondary: #FFE1AF;
  --tertiary: #E2B59A;
  --accent: #957C62;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary);
  color: var(--accent);
}