@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary: #D2C1B6;
  --secondary: #456882;
  --tertiary: #234C6A;
  --accent: #1B3C53;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary);
  color: var(--accent);
}